@import "colors";
@import "utilities";
.app-card {
    .app-card__wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        place-items: center;
        padding: 2.5rem 6.25rem;
        background-color: $color-skin-soft;
        border-radius: 1.375rem;
        -webkit-border-radius: 1.375rem;
        -moz-border-radius: 1.375rem;
        -ms-border-radius: 1.375rem;
        -o-border-radius: 1.375rem;
    }
}