$color-primary:#008080;
$color-main-text:#37385c;
$color-skin-soft:#f0e6e4;
$color-white: #fff;
$color-text-soft-grey:#8788a0;
$color-secondary:#bee3e4;
$color-person-tag-doctor:#a0cecf;
$color-skin:#f2d6c1;
$color-turkuaz:#b6e4e4;
$color-outline-grey:#b5b5b5;
$color-blue:#3273DC;
$color-btn-light-bg:#f3e6e4;