.section__large {
    padding-top: 4rem;
    position: relative;
    img {
        position: absolute;
        margin-left: 0;
        order: 1;
        top: 13rem;
    }
    .section__large__content {
        order: 2;
        .title-1 {
            margin-bottom: 18rem;
        }
    }
}